@import url(../../assets/base.less);

#my {
  .user-info {
    display: grid;
    grid:auto / 80px 1fr;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    img {
      grid-column: 1; 
      grid-row: 1; 
      width: 80px;
      height: 80px;
    }
    h4 {
      grid-column: 2; 
      grid-row: 1; 
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 20px;
    }
  }
  .bolg-post {
    margin: 10px 0;
    .item{
      display: grid;
      grid:auto auto auto auto / 80px 1fr;
      margin: 20px 0;
      .date{
        grid-column: 1; 
        grid-row: 1 / span 4; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        span{
          color: #aaa;
        }
        span:nth-child(1){
          font-size: 30px;
          font-weight: bold;
        }
      }
      h4{
        grid-column:2; 
        grid-row: 1; 
        font-weight: bold;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
     a {
        grid-column: 2; 
        grid-row: 2 / span 2; 
        padding-left: 20px;
        line-height: 120%;
        color: @themeLighterColor;
        display: -webkit-box;
        -webkit-line-clamp:2;/* 显示的行数 */
        -webkit-box-orient: vertical;
        overflow:hidden;
      }
      p.edit{
        display: flex;
        justify-content: flex-end;
        grid-column: 2; 
        grid-row: 4; 
        padding-left: 20px;
        line-height: 120%;   
        text-align: right;
        padding-top: 10px;
        .el-button--mini.is-circle{
          padding: 5px;
        }
      }
    }
  }
}